.about-wrapper {
	padding: 50px 0 50px 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 100px;
}

.skills {
	display: grid;
	align-content: space-between;
	/* text-align: center; */
}

.social-icons {
	display: flex;
	/* justify-content: center; */
}

.social-icons img {
	padding: 10px;
}

.social-icons img:first-child {
	padding-left: 0px;
}

#skills {
	display: flex;
	flex-direction: column;
	background-color: var(--preview-shadow-color);
}

.languages p,
.tools p {
	padding-left: 10px;
}

.languages img,
.tools img {
	padding: 5px;
}

@media screen and (max-width: 500px) {
	.about-wrapper {
		gap: 50px;
	}
}
