#submit-btn {
	width: 100%;
	color: #fff;
	background-color: var(--button-color);
	border: none;

	margin-top: 10px;
	padding: 10px 0 10px 0;
}

#contact-form {
	background-color: var(--main-color);

	display: block;
	max-width: 600px;

	margin: 0 auto;
	margin-bottom: 50px;
	padding: 15px;

	border: 1px solid var(--border-color);
	border-radius: 5px;
}

#contact-form label {
	line-height: 2.7em;
}

#contact-form textarea {
	min-height: 100px;
	font-size: 14px;
}

.input-field {
	width: 100%;
	font-size: 14px;
	background-color: var(--secondary-color);

	padding: 10px 0 10px 0;

	border-radius: 5px;
	border: 1px solid var(--border-color);
}
