@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

/* Global styles */
:root {
  --main-color: #eaeaea;
  --secondary-color: #fff;

  --border-color: #c1c1c1;

  --main-text: black;
  --secondary-text: #4b5156;

  --theme-dot-border: #24292e;

  --preview-background-color: rgba(251, 249, 243, 0.8);
  --preview-shadow-color: #f0ead6;

  --button-color: black;

  --a-color: #17a2b8;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--main-text);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondary-text);
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: var(--a-color);
  font-family: "Roboto Mono", monospace;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
